<div class="ember-select-input">
  {{ember-select-selection selection=selection labelPath=selectionLabelPath}}

  {{input type="text" value=searchTerm}}

  {{#if loading}}
    <span class="loading">loading</span>
  {{/if}}
  <span class="arrow"></span>
</div>

{{#if isOpen}}
  {{ember-select-options
    content=_content 
    selection=selection 
    optionLabelPath=optionLabelPath
    optionFunction=optionFunction
    rowHeight=optionHeight
    height=height
    width=_width
    highlighted=highlighted
    select-item="select-item"
  }}
{{/if}}