<div class="container">

  {{outlet}}

  <div class="row">
    <div class="col-sm-12">
      <h2>Ember Select </h2>
      <h5>A select control built for Ember.js.</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>
      </p>
    </div>

  </div>


  <div class="row">
    <div class="col-sm-12">
      {{ember-select 
        content=model 
        optionFunction=optionFunction 
        selectionLabelPath="word" 
        search="search"
        loading=loading
      }}
    </div>

  </div>

</div>



