<div class="container">

  {{outlet}}

  <div class="row">
    <div class="col-sm-12">
      <h2>Ember Select </h2>
      <h5>A select control built for Ember.js.</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>
      </p>
    </div>

  </div>


  <div class="row">
    <div class="col-sm-12">
      {{#ember-collection-select 
        content=model.alphabetical
        optionFunction=optionFunction 
        selectionLabelPath="word" 
        search="search"
        loading=loading
        as |item searchTerm|
      }}

        <div>
          {{ember-collection-select-highlight item.word searchTerm}}
        </div>
        <div>
          <small>
            {{item.definition}}
          </small>
        </div>

      {{/ember-collection-select}}

    </div>

  </div>

</div>



